name: Deploy Azure Static Web App

env:
  APP_LOCATION: "/coinbase-allocations-client"
  API_LOCATION: ""
  OUTPUT_LOCATION: "dist"

on:
  push:
    branches: [ main ]
    paths:
      - 'coinbase-allocations-client/**'
      - '.github/workflows/azure-static-web-app-deploy.yml'
  workflow_dispatch:

jobs:
  build_and_deploy_job:
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@1a947af9992250f3bc2e68ad0754c0b0c11566c9
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"
          app_location: ${{ env.APP_LOCATION }}
          api_location: ${{ env.API_LOCATION }}
          output_location: ${{ env.OUTPUT_LOCATION }}
          app_build_command: "npm run build"
        env:
          VITE_CLIENT_ID: ${{ secrets.VITE_CLIENT_ID }}
          VITE_B2C_TENANT_NAME: ${{ secrets.VITE_B2C_TENANT_NAME }}
          VITE_API_SCOPE: ${{ secrets.VITE_API_SCOPE }}
          VITE_FUNCTION_APP_URL: ${{ secrets.VITE_FUNCTION_APP_URL }}
          VITE_FUNCTION_KEY: ${{ secrets.VITE_FUNCTION_KEY }}
